<beans              xmlns = "http://www.springframework.org/schema/beans"
                xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
              xmlns:daisy = "http://outerx.org/daisy/1.0#runtime-springext"
               xmlns:conf = "http://outerx.org/daisy/1.0#config-springext"
            xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                             http://www.springframework.org/schema/context
                             http://www.springframework.org/schema/context/spring-context-2.5.xsd
                             http://outerx.org/daisy/1.0#runtime-springext
                             http://daisycms.org/schemas/daisyruntime-springext.xsd
                             http://outerx.org/daisy/1.0#config-springext
                             http://daisycms.org/schemas/config-springext.xsd">

  <context:annotation-config/>

  <daisy:import-service id="configurationManager" service="org.outerj.daisy.configuration.ConfigurationManager"/>
  <daisy:import-service id="pluginRegistry" service="org.outerj.daisy.plugin.PluginRegistry"/>

  <bean id="userMaintainer" class="${package}.SamplePreSaveHook">
    <constructor-arg>
      <conf:configuration group="extra" name="sample-pre-save-hook" source="configurationManager">
        <conf:default xmlns="">
        </conf:default>
      </conf:configuration>
    </constructor-arg>
    <constructor-arg ref="pluginRegistry"/>
  </bean>

</beans>

