DECLARE
    TABLE_DOES_NOT_EXIST EXCEPTION;
    PRAGMA EXCEPTION_INIT(TABLE_DOES_NOT_EXIST, -942);
BEGIN
    EXECUTE IMMEDIATE 'DROP TABLE $table.Name CASCADE CONSTRAINTS';
EXCEPTION
    WHEN TABLE_DOES_NOT_EXIST THEN NULL;
END;
/
#if ($table.IdMethod == "native")

DECLARE
    TABLE_DOES_NOT_EXIST EXCEPTION;
    PRAGMA EXCEPTION_INIT(TABLE_DOES_NOT_EXIST, -942);
BEGIN
    EXECUTE IMMEDIATE 'DROP SEQUENCE $table.SequenceName';
EXCEPTION
    WHEN TABLE_DOES_NOT_EXIST THEN NULL;
END;
/
#end
