.dojoDialog {
    background: ButtonFace;
    border: 1px solid gray;
    color: ButtonText;
    font: 11px Tahoma,Verdana,sans-serif;
    margin: 0;
    padding: .25em;
}

.dsydlg-title {
    background: #ddf;
    color: #000;
    font-weight: bold;
    font-size: 120%;
    padding: 3px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    letter-spacing: 2px;
    white-space: nowrap;
}

.dsydlg-subtitle {
    font-weight: bold;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}

.dsydlg-buttons {
    margin-top: 1em; border-top: 1px solid #999;
    padding: 2px; text-align: right;
}