<span>
    <div class="dsy-double-listbox-popup" dojoAttachPoint="widgetBase">
      <span class="dsy-double-listbox-popup-compact">
        <span class="dsy-double-listbox-popup-compacttext" dojoAttachPoint="compact">not initialized</span>
        <img type="button" style="vertical-align: middle; cursor: pointer;" src="${this.daisy.mountPoint}/resources/js/widget/templates/images/dropdown.gif" dojoAttachPoint="popupButton" alt="..."/>
      </span>
    </div>
   <div dojoAttachPoint="expandDiv" dojoType="dojo:ContentPane" dojoType="dojo:ContentPane" class="dsy-forms-listbox-popup"/>
</span>