<?xml version="1.0"?>
<!--
  Copyright 2007 Outerthought bvba and Schaubroeck nv

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<beans              xmlns = "http://www.springframework.org/schema/beans"
                xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
              xmlns:daisy = "http://outerx.org/daisy/1.0#runtime-springext"
               xmlns:conf = "http://outerx.org/daisy/1.0#config-springext"
            xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                             http://www.springframework.org/schema/context
                             http://www.springframework.org/schema/context/spring-context-2.5.xsd
                             http://outerx.org/daisy/1.0#runtime-springext
                             http://daisycms.org/schemas/daisyruntime-springext.xsd
                             http://outerx.org/daisy/1.0#config-springext
                             http://daisycms.org/schemas/config-springext.xsd">

  <context:annotation-config/>

  <daisy:import-service id="configurationManager" service="org.outerj.daisy.configuration.ConfigurationManager"/>
  <daisy:import-service id="dataSource" service="javax.sql.DataSource"/>
  <daisy:import-service id="jmsClient" service="org.outerj.daisy.jms.JmsClient"/>
  <daisy:import-service id="mbeanServer" service="javax.management.MBeanServer"/>
  <daisy:import-service id="repositoryManager" service="org.outerj.daisy.repository.RepositoryManager"/>
  <daisy:import-service id="pluginRegistry" service="org.outerj.daisy.plugin.PluginRegistry"/>
  <daisy:import-service id="credentialsProvider" service="org.outerj.daisy.credentialsprovider.CredentialsProvider"/>


  <bean id="emailSubscriptionManagerProvider"
        class="org.outerj.daisy.emailnotifier.serverimpl.LocalEmailSubscriptionManagerProvider">
    <constructor-arg ref="dataSource"/>
    <constructor-arg ref="pluginRegistry"/>
  </bean>

  <bean id="subscriptionManagerHttpConnector"
        class="org.outerj.daisy.emailnotifier.serverimpl.SubscriptionManagerHttpConnector">
    <constructor-arg ref="pluginRegistry"/>
  </bean>

  <bean name="emailNotifier" class="org.outerj.daisy.emailnotifier.serverimpl.EmailNotifierImpl">
    <constructor-arg>
      <conf:configuration group="extra" name="emailnotifier" source="configurationManager">
        <conf:default xmlns="">
          <jmsTopic>daisy</jmsTopic>
          <jmsSubscriptionName>emailNotifier</jmsSubscriptionName>
          <!-- Notification mail subject prefix, this gets prepended before the
               subject of all notification mails. -->
          <emailSubjectPrefix>[DAISY]</emailSubjectPrefix>
          <!-- (other configuration is supported) -->
        </conf:default>
      </conf:configuration>
    </constructor-arg>
    <constructor-arg ref="jmsClient"/>
    <constructor-arg ref="repositoryManager"/>
    <constructor-arg ref="mbeanServer"/>
    <constructor-arg ref="pluginRegistry"/>
    <constructor-arg ref="credentialsProvider"/>
  </bean>

</beans>