body {
  margin: 0px;
  padding: 0px;
  cursor: default;
  font-family: helvetica, sans-serif;
  font-size: 76%;
  background-color: white;
}

div.label {
  /* This sequence of height-specifications is to make the min-height work on IE */
  min-height: 20px;
  height:auto !important;
  height: 20px;
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding-left: 22px;
}

div.rootnode {
    padding-left: 0px;
}

div.listitemnode {
  background-image: url("images/listitemnode.gif");
}

span.listitemnode {
}